Hello world and comment.

In [ ]:
print('Hello World') #Hello World
'''
This is a comment
with
multiple lines
'''

Hello World

'\nThis is a comment\nwith\nmultiple lines\n'

Operations

In [ ]:
2 + 3 #addition

5

In [ ]:
5-1 #subtractiom

4

In [ ]:
5*2 #multiplication

10

In [ ]:
10/2 #division

5.0

In [ ]:
10//3 #floor division

3

In [ ]:
10%3 #modulus

1

In [ ]:
3**4 #exponent

81

Variables

In [ ]:
userage, username = 30,'peter' #declares and initializes variables with different types. userage is set to the integer 30 and username to the string peter

In [ ]:
userage

30

In [ ]:
username

'peter'

In [ ]:
x, y = 2,5
x=y #assigning the value of x to y

In [ ]:
print('x = ', x)

x =  5

In [ ]:
x, y = 2,5
y=x #assigning the value of y to x

In [ ]:
print('y = ', y)

y =  2

In [ ]:
x=5
x+=10 #same thing as x = x+10
print('x = ', x)
x-=10 #same as x = x - 10

x =  15

Strings

In [ ]:
username='Peter'; userspousename='Janet'; userage='30' #declaring string
print(username + userspousename) #adding strings by combining them side by side
username.upper() #changes all letters to uppercase

PeterJanet

'PETER'

In [ ]:
brand='Apple'
exchangeRate=1.235235245
print('the price of this %s laptop is %d USD and the exchange rate is \
 %4.2f USD to 1 EUR' % (brand, 1299, exchangeRate))
 #Format strings using percent sign

the price of this Apple laptop is 1299 USD and the exchange rate is  1.24 USD to 1 EUR

In [ ]:
print("the price of this{0:s} laptop is {1:d} USD and the exchange \
rate is {2:4.2f} USD to 1 EUR".format('Apple', 1299, 1.235235245) )#format string using format function

the price of thisApple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [ ]:
# count the entire string
'This is a string'.count('s')
# count from index 4 to end of string
'This is a string'.count('s', 4)
# count from index 4 to 10-1
'This is a string'.count('s', 4, 10 )

1

In [ ]:
# count ‘T’. There’s only 1 ‘T’ as the function is case sensitive.
'This is a string'.count('T')

1

In [ ]:
# check from index 2 to 6-1
‘Postman’.endswith(‘man’, 2, 6) #check if the substring ends with man

SyntaxError: ignored

In [ ]:
'''
Return the index in the string where the first occurrence of the
substring sub is found.
find() returns -1 if sub is not found.
index() returns ValueError is sub is not found.
This function is case-sensitive.
'''
'This is a string'.find('s')
'This is a string'.find('s', 7,11 )

In [ ]:
'''
Return true if all characters in the string are alphanumeric and there
is at least one character, false otherwise.
Alphanumeric does not include whitespaces.
'''
'abcd1234'.isalnum()

True

In [ ]:
'''
Return true if all characters in the string are alphabetic and there is
at least one character, false otherwise.
'''
'abcd'.isalpha()

True

In [ ]:
'''
Return true if all characters in the string are digits and there is at
least one character, false otherwise.
'''
'1234'.isdigit()
'abcd1234'.isdigit()

False

In [ ]:
'''
Return true if all cased characters in the string are lowercase and
there is at least one cased character, false otherwise
'''
'abcd'.islower()
'Abcd'.islower()

False

In [ ]:
'''
Return true if there are only whitespace characters in the string and
there is at least one character, false otherwise.
'''
' '.isspace()

True

In [ ]:
'''
Return true if the string is a titlecased string and there is at least one
character
'''
'This Is A String'.istitle()

True

In [ ]:
'''
Return true if all cased characters in the string are uppercase and
there is at least one cased character, false otherwise.
'''
'ABCD'.isupper()

True

In [ ]:
'''
Return a string in which the parameter provided is joined by a
separator.
'''
sep = '-' 
myTuple = ('a', 'b', 'c')
myList = ['d', 'e', 'f']
myString = 'Hello World'
sep.join(myTuple)

'a-b-c'

In [ ]:
'''
Return a copy of the string converted to lowercase.
'''
'Hello Python'.lower()

'hello python'

In [ ]:
'''
Return a copy of the string with all occurrences of substring old
replaced by new.
count is optional. If given, only the first count occurrences are
replaced.
This function is case-sensitive.
'''
'This is a string'.replace('s', 'p')
# Replace first 2 occurences
'This is a string'.replace('s', 'p', 2)

'Thip ip a string'

In [ ]:
'''
Return a list of the words in the string, using sep as the delimiter
string.
sep and maxsplit are optional.
If sep is not given, whitespace is used as the delimiter.
If maxsplit is given, at most maxsplit splits are done.
This function is case-sensitive.
'''
'This, is, a, string'.split(',')

['This', ' is', ' a', ' string']

In [ ]:
'''
Return a list of the lines in the string, breaking at line boundaries.
Line breaks are not included in the resulting list unless keepends is
given and true.
'''
'This is the first line.\nThis is the secondline'.splitlines()

['This is the first line.', 'This is the secondline']

In [ ]:
'''
Return True if string starts with the prefix, otherwise return False.
prefix can also be a tuple of prefixes to look for.
This function is case-sensitive.
'''
'Postman'.startswith('Post')

True

In [ ]:
'''
Return a copy of the string with the leading and trailing characters
char removed.
If char is not provided, whitespaces will be removed.
This function is case-sensitive.
'''
' This is a string '.strip()

'This is a string'

In [ ]:
'Hello Python'.upper() #Return a copy of the string converted to uppercase

'HELLO PYTHON'

Typecasting

In [ ]:
print(int(5.5)) #change float to integer by removing decimal places
print(int("5")) #change string to int
print(float("5.5789")) #change string to float
print(str(2.1)) #change float to string. can also be done with int.

5
5
5.5789
2.1

In [ ]:
x = 0.5
type(x) #returns type of x
round(x, 2) #rounds to 2 decimals

0.5

In [ ]:
z = 2+3j #complex number
type(z)
abs(z) #modulus

3.605551275463989

Other Data Types

Lists

In [ ]:
listname = [] #declare empty string
listname = [21, 22, 23] #declare string
print(listname[0]) #access first element
print(listname[-1]) #access last element

21
23

In [ ]:
listname2 = listname #copy list
listname3 = listname2[1:3] #slices list and assigns new list the indexes 1 through 3 - 1
print(listname3)
list1 = [1,2,3,4,5]
list2 = list1[1:5:2] #slice appends every 2 numbers
print(list2)

[22, 23]
[2, 4]

In [ ]:
list2.append(5) #appends to end of string
print(list2)
del list2[2] #deletes item with index 2 from list
print(list2)
list2[0] = 9 #modifies index 0
print(list2)

[2, 4, 5]
[2, 4]
[9, 4]

In [ ]:
myList = ['a', 'b', 'c', 'd', 'e'] #Combine two lists
myList.insert(1, ‘Hi’) #inserts item into a postion
myList2 = [1, 2, 3, 4]
myList.extend(myList2) #
member = myList.pop(2)
print (member)
‘c’ in myList #checks if item in list

print (myList)
myList.reverse() #reverses list

SyntaxError: ignored

In [ ]:
myList = [3, 0, -1, 4, 6] 
myList2 = sorted(myList) #returns sorted list wihtout changing contents
myList.sort() #sorts numerically
print(myList)

In [ ]:
myList = ['a', 'b', 'c', 'd']
print (myList + ['e', 'f']) #Concatenate List
print (myList*3) #repeats list

Tuples

In [ ]:
monthsOfYear = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec") #declare tuple by using parentheses

In [ ]:
print(monthsOfYear[0])
print(monthsOfYear[-1]) #access tuple by index
'Jan' in monthsOfYear #check if item is in tuple
print(len(monthsOfYear)) #returns length of tuple
print(monthsOfYear*3) #repeats tuple 3 times
del monthsOfYear #deletes tuple

Dictionary

In [ ]:
emptyDic = {} #declares empty dictionary
userNameAndAge= {"Peter":38, "John":51, "Alex":13, "Alvin": "Not Available"} #initializes dictionary
userNameAndAge= dict(Peter=38, John=51, Alex=13, Alvin='not available') #initializes dictionart using dict() function
userNameAndAge["John"] #accesses index

In [ ]:
userNameAndAge["John"] = 21 #change john
userNameAndAge["John"]
userNameAndAge["Lucas"] = 55 #appends new item called lucas with value 55
print(userNameAndAge["Lucas"])
userNameAndAge.get("John") #returns value for key
1 in userNameAndAge #check if value is in dictionary
userNameAndAge.clear() #clears dictionary
userNameAndAge.items() #returns pairs as tuples
userNameAndAge.keys() #returns list of keys
print(len(userNameAndAge)) #return length
userNameAndAge.values() #return list of values
userNameAndAge.clear() #clears dictionary
del userNameAndAge["Lucas"] #deletes dictionary

Inputs and Interaction

In [ ]:
myname=input('please enter your name: ')#prompts user for input
myage=input('what about your age: ')
print ('hello world, my name is', myname, 'and i am', myage, 'years old.') #prints with variables

Print formating

In [ ]:
print('''Hello World 
My name is Lucas and 
I am 20 years old.''') #print multiple lines
print('Hello\tWorld') #tab character
print('Hello\nWorld') #newline
print('\\') #backslash
print("I am 5'9\" tall") #prints quote
print(r'Hello\nWorld') #prints raw input

Conditions

In [ ]:
5!=2 #not equal to condition

In [ ]:
5>2

In [ ]:
2<5

In [ ]:
5>=2

In [ ]:
5>=5 #other conditions

In [128]:
5 == 5 #boolean comparison

True

In [129]:
x= 5
x == 5 or x == 6 #or logic operator

True

In [130]:
x== 5 and x ==6

False

if and other statements

In [ ]:
userinput=input('enter 1 or 2: ')
if userinput=='1':  #if and elif statements
  print('Hello World')
elif userinput=='2':
  print('Python ROcks')
else: 
  print('you did not enter a valid number')

In [ ]:
myint=10
num1 = 12 if myint==10 else 13
print(num1) #inline if

In [ ]:
Loops

In [ ]:
message = 'Hello'
for i in message: #for loop iterates through parameter until condition is not met anymore
  print(i)

In [ ]:
for a in range(5): #iterating over range of an int
  print (a) #iterates through a list of numbers up to 5

In [ ]:
pets=['cats','dogs','rabbits','hamsters']
for index, mypets in enumerate(pets): #print iteration and index while enumarating through list
  print(index, mypets)

In [ ]:
counter=5
while counter>0:
  print('counter = ', counter)
  counter-=1 #while condition is met, keep looping

In [ ]:
j=0
for i in range(5):
  j+=2
  print('i = ', i, ', j = ', j)
  if j==6:
    break #stops loop before completion

In [ ]:
j=0 
for i in range(5):
  j+=2
  print('\ni = ', i, ', j = ', j)
  if j==6:
    continue #skips this iteration
  print('i will be skipped over if j=6')

In [ ]:
try: #if an error is obtained, perform except
  answer=12/0
  print(answer)
except:
  print('an error occurred')

In [ ]:
'''
 ValueError is raised when a built-in
operation or function receives a parameter that has the right type but
an inappropriate value. ZeroDivisionError is raised when the
program tries to divide by zero. Other common errors in Python
include
IOError:
Raised when an I/O operation (such as the built-in open() function)
fails for an I/O-related reason, e.g., “file not found”.
ImportError:
Raised when an import statement fails to find the module definition
IndexError:
Raised when a sequence (e.g. string, list, tuple) index is out of
range.
KeyError:
Raised when a dictionary key is not found.
NameError:
Raised when a local or global name is not found.
TypeError:
Raised when an operation or function is applied to an object of
inappropriate type. 
More errors https://docs.python.org/3/library/exceptions.html
'''

Functions

In [ ]:
'hello world'.replace('world', 'universe') #replace function is an example of function

In [ ]:
def checkIfPrime (numberToCheck): #defines function with paremeter input
for x in range(2, numberToCheck):
 if (numberToCheck%x == 0):
 return False #return when function is over
return True

In [ ]:
print(checkIfPrime(13))

Variable scope

In [ ]:
message1 = "Global Variable"
def myFunction(): 
  print('\nINSIDE THE FUNCTION')
#Global variables are accessible inside a function
  print (message1)
#Declaring a local variable
  message2 = 'Local Variable'
  print (message2)
#Calling the function
myFunction()
print('\nOUTSIDE THE FUNCTION')
#Global variables are accessible outside function
print (message1)
#Local variables are NOT accessible outside function.
print (message2)

Importing Modules

In [ ]:
import random #import whole library
from random import randrange, randint #import specific functions
randrange(1, 10)

In [ ]:
import sys
if 'C:\\MyPythonModules' not in sys.path:
 sys.path.append('C:\\MyPythonModules') #navigate import folder to sys path

Opening and reading text files

In [ ]:
f = open ('myfile.txt', 'r') #open file from desktop
firstline = f.readline() #reads first line
secondline = f.readline()
print (firstline)
print (secondline)
for line in f:
print (line, end = '') #reads each line with a for loop

f.close() #closes file
'''
'r' mode:
For reading only.
'w' mode:
For writing only.
If the specified file does not exist, it will be created.
If the specified file exists, any existing data on the file will be erased.
'a' mode:
For appending.
If the specified file does not exist, it will be created.
If the specified file exist, any data written to the file is automatically
added to the end
'r+' mode:
For both reading and writing.
'''

In [ ]:
f = open (‘myfile.txt’, 'a')
f.write(‘\nThis sentence will be appended.’) #writes to a text file
f.write(‘\nPython is Fun!’)
f.close()

In [ ]:
inputFile = open (‘myfile.txt’, 'r')
outputFile = open (‘myoutputfile.txt’, 'w')
msg = inputFile.read(10) 
while len(msg): #if length is not 0 it runs
 outputFile.write(msg) 
 msg = inputFile.read(10) #only reads 10 bytes at the time

inputFile.close()
outputFile.close()

In [ ]:
remove('myfile.txt') #deletes file
rename('oldfile.txt', 'newfile.txt') #renames file